.box_card {
    margin: 0;
    padding: 1rem;
    border: 0.063rem solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.5rem 1.875rem 0;
    border-radius: 0.5rem;
    background: #e9ecef9c;
}
.form-control {
    padding: .295rem .75rem !important;
    border-radius: 0.5rem;
    border: 0.063rem solid #5f717d;
    font-size: 12px;
}
.go-btn {
    border: 0.063rem solid transparent;
    border-radius: 0.5rem;
    background-color: #e86020;
    border-color: #e86020;
    color: #fff;
    cursor: pointer;
    line-height: 1.6;
    padding: .1rem 1.5rem;
    font-size: .9rem;
}
td, th {
    font-size: 12px;
}
.main_agent_form {
    display: flex
;
    justify-content: end;
    text-align: center;
    align-items: center;
}.main_agent_form .one {
    display: flex
;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
    width: 100%;
    max-width: 8rem;
}