<!-- <div *ngIf="data">
    <h2>Data from API</h2>
    <pre>{{ data| json }}</pre>
</div>


<div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-bordered">
        <thead class="table-active">
          <tr>
            <th scope="col">IP</th>
            <th scope="col">VAC</th>
            <th scope="col">mailId</th>
            <th scope="col">reqId</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of data">
            <th scope="row">{{ item.IP }}</th>
            <td>{{ item.vac }}</td>
            <td>{{ item.mailId }}</td>
            <td>{{ item.reqId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->

<div class="container">
  <h2>API Data</h2>
  <table border="1">
    <thead>
      <tr>
        <th>IP</th>
        <th>mailId</th>
        <th>reqId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.mailId }}</td>
        <td>{{ item.IP }}</td>
        <td>{{ item.reqID }}</td>
      </tr>
    </tbody>
  </table>
</div>
